.chat {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, var(--bg-color), transparent);
}

.footer {
    font-size: 12px;
    color: #ffffff80;
    padding: 12px 16px 24px;
}

.list {
    width: 100%;
}

.messageDisplay[data-role="assistant"] {
    background-color: #444654;
}

.messageDisplay[data-role="user"] {
    background-color: #343540;
}

.inner {
    display: flex;
    max-width: 700px;
    margin: auto;
    padding: 30px 0;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.content {
    font-size: 16px;
    padding-left: 24px;
    max-width: 650px;
}

.modelLabel {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
    color: #BFBFCC;
    background-color: #444654;
}
