.wrap {
    position: relative;
    z-index: 5;
    display: flex;
    width: 100%;
    max-width: 675px;
    background-color: var(--input-bg);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px #0001;
}

.wrap * {
    border: none;
    background-color: transparent;
}

.wrap textarea {
    position: relative;
    z-index: 10;
    width: calc(100% - 50px);
    height: 50px;
    font-size: 16px;
    padding: 16px;
    color: inherit;
}

.wrap textarea::placeholder {
    color: var(--dim-text-color);
    opacity: 1; /* for Firefox */
}

.wrap button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    color: var(--dim-text-color);
}

.wrap button:hover {
    background-color: var(--send-hover);
}
