.modelLabel {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
    color: #BFBFCC;
    background-color: #444654;
}

.list {
    width: 100%;
    padding-bottom: 200px;
}

.userDisplay {
    background-color: #343540;
}

.gptDisplay {
    background-color: #444654;
}

.inner {
    position: relative;
    display: flex;
    max-width: 700px;
    margin: auto;
    padding: 30px 0;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.userContent, .gptContent {
    font-size: 16px;
    line-height: 30px;
    margin-left: 24px;
    width: 100%;
    max-width: 650px;
}

.userContent {
    font: inherit;
    white-space: pre-wrap;
}

.userContent textarea {
    width: 100%;
}

.gptContent > * {
    margin: 20px 0;
}

.gptContent > *:first-child {
    margin: 0 0 20px 0;
}

.gptContent > *:last-child {
    margin: 20px 0 0 0;
}

.gptContent > *:only-child {
    margin: 0;
}

.gptContent pre code {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #000;
    overflow-x: scroll;
    font-family: Söhne Mono, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.edit {
    display: none;
    place-content: center;
    position: absolute;
    padding-top: inherit;
    top: 0;
    right: -20px;
    background-color: transparent;
    border: none;
    color: #acacbe;
}

.userDisplay:hover .edit {
    display: block;
}

.edit * {
    width: 22px;
    height: 22px;
    padding: 3px;
    border-radius: 3px;
}

.edit:hover {
    color: #fffc;
}

.edit:hover * {
    background-color: #fff1;
}

.saveEdit, .cancelEdit {
    padding: 10px 14px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
}

.saveEdit {
    background-color: #0FA27F;
    border: none;
    margin-right: 8px;
}

.saveEdit:hover {
    background-color: #0d8f70;
}

.cancelEdit {
    background-color: transparent;
    border: 1px solid #fff3;
}

.cancelEdit:hover {
    background-color: #fff1;
}

.editButtons {
    display: flex;
    justify-content: center;
}

.variantSelect {
    display: flex;
    align-items: center;
    height: 60px;
    color: #fff;
    font-size: 12px;
    padding-top: inherit;
    position: absolute;
    top: 0;
    left: -60px;
}

.variantSelect button {
    background-color: transparent;
    border: none;
    display: grid;
    place-content: center;
    color: inherit;
    font: inherit;
}
